body, html {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

li {
	border-radius: 15%;
	display: inline;
	border: 2px solid pink;
	padding: 5px;
	font-size: 30 px;
	margin: 50px;
}

ul {
	text-align: center;
}

li a {
	color: white;
}

footer {
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 2px solid pink;
	text-align: center;
	height: 40px;
	font-size: 15px;
	border-radius: 5%;
}

h1 {
	color: white;
	text-align: center;
}

.home {
	position: absolute;
	bottom: 15em;
	right: 3em;
	color: white;
	font-size: 40px;
	width: 500px;
}

p {
	color: white;
}

.about {
	width: 500px;
	padding: 0px;
	position: absolute;
	left: 3em;
	bottom: 15em;
	font-size: 40px;	
}

img {
	height: 520px;
	width: 400px;
	opacity: 0.7;
	border: 2px solid pink;
	border-radius: 15%;
}

.photo {
	position: absolute;
	right: 10em;
	bottom: 20em;
}

.video1 {
	position: absolute;
	left: 5em;
	top: 10em;
}

p a {
	color: white;
}

.email {
	position: absolute;
	right: 10em;
	top: 4em;
	font-size: 40px;
}

.phone {
	position: absolute;
	left: 10em;
	top: 13em;
	font-size: 40px;
}

.social {
	position: absolute;
	right: 10em;
	top: 16em;
	font-size: 40px;
}

.youtube {
	position: absolute;
	left: 10em;
	top: 20em;
	font-size: 40px;
}
