body, html {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

li {
	border-radius: 15%;
	display: inline;
	border: 2px solid pink;
	padding: 1vh;
	font-size: 30 px;
	margin: 5vw;
}

ul {
	text-align: center;
}

li a {
	color: #FFFF00;
}

a {
	color: #FFFF00;
}

footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 2px solid pink;
	margin-top: 0px;
	text-align: center;
	height: 40px;
	font-size: 15px;
	border-radius: 5%;
}

h1 {
	color: #FFD700;
	text-align: center;
}

.home {
	position: absolute;
	top: 30vh;
	left: 10vw;
	color: #FFD700;
	font-size: 40px;
	width: 30vw;
	line-height: 95%;
}

p {
	color: #FFD700;
	text-align: center;
}

.about {
	width: 20vw;
	padding: 0px;
	position: absolute;
	left: 10vw;
	top: 30vh;
	font-size: 30px;
}

img {
	height: 50vh;
	width: 18vw;
	opacity: 0.7;
	border: 2px solid pink;
	border-radius: 15%;
}

.photo {
	position: absolute;
	right: 10vw;
	top: 30vh;
}

.video1 {
	position: absolute;
	left: 10vw;
	top: 30vh;
}

.video2 {
	position: absolute;
	right: 10vh;
	top: 30vh;
}

p a {
	color: #FFFF00;
}

.email {
	position: absolute;
	right: 10vw;
	top: 20vh;
	font-size: 40px;
}

.phone {
	position: absolute;
	left: 10vw;
	top: 40vh;
	font-size: 40px;
}

.social {
	position: absolute;
	right: 10vw;
	bottom: 40vh;
	font-size: 40px;
}

.youtube {
	position: absolute;
	left: 10vw;
	bottom: 20vh;
	font-size: 40px;
}

#extra {
	font-size: 25px;
}

#foot {
	#FFFF00;
}